table {
    border-collapse:collapse;
    width: 45%;
    
    
    
    }
    td {
        border:1px solid #ddd;
        padding:8px;
        }
    th {
        border:1px solid rgb(19, 16, 16);
        padding:8px;
       
       
        }